img.img-thumbnail {
    height: 150px;
    min-width: 150px !important;
    margin-bottom: 6px;

}
.card-body {
    background-color: #F6F6EF;

}
.nv-file-over {
    border: dotted 2px green;
}

input[type=file] {
    color: transparent;
}

