.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
    background-color: #F6F6EF;
}

.card-body {
    padding: 0 25px;

}

.tab-header {
    background-color: #F6F6EF;
}



.card-footer {
    padding: 10px 15px;
    border-top: none;
}

